@theme-color : #7bcad9;
@white-color : #ffffff;
@gray-color : #909090;
body {
    background-color: @white-color;
    font-family: "Microsoft Yahei"!important;
}

.grid.login-grid {
    height: 100%;
    margin: 0;
    background: url('images/background.jpg') center no-repeat;
    ;
    background-size: cover;
    .login-column {
        max-width: 400px;
        margin-right: 100px;
        background-color: @white-color;
        border-radius: 0.28571429rem;
        .header {
            color: @theme-color;
        }
        #login {
            .button {
                color: @white-color;
                background-color: @theme-color;
            }
        }
    }
}

#left-menu {
    top: 53px;
    .item{
        color : @gray-color;
        &.active{
            color: @theme-color;
            border-color: @theme-color;
            font-weight: normal;
        }
    }
}

.ui.menu .item:before {
    background: none;
}