body {
  background-color: #ffffff;
  font-family: "Microsoft Yahei";
}
.grid.login-grid {
  height: 100%;
  margin: 0;
  background: url('images/background.jpg') center no-repeat;
  background-size: cover;
}
.grid.login-grid .login-column {
  max-width: 400px;
  margin-right: 100px;
  background-color: #ffffff;
  border-radius: 0.28571429rem;
}
.grid.login-grid .login-column .header {
  color: #7bcad9;
}
.grid.login-grid .login-column #login .button {
  color: #ffffff;
  background-color: #7bcad9;
}
